<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <div class="container">
       <h1>{{book.title}} Information</h1>
       <ul>
           <li>Title:<strong>{{book.title}}</strong></li>
           <li>Author:<strong>{{book.author}}</strong></li>
           <li>Pages:<strong>{{book.pages}}</strong></li>
           <li>Price:<strong>{{book.price}}</strong></li>
           <a class="btn btn-warning" href="/update/{{book.id}}">Update This Book Information</a>
           <a class="btn btn-warning" href="/create">Update This Book Information</a>
           <a class="btn btn-danger" href="/delete/{{book.id}}">Delete this book information</a>
       </ul>
   </div>

</body>
</html>