<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1>All Books Information</h1>
    {% for book in book_list %}
    <ul>
        <li>Title:<strong>{{book.title}}</strong></li>
        <li>Author:<strong>{{book.author}}</strong></li>
        <li>Pages:<strong>{{book.pages}}</strong></li>
        <li>Price:<strong>{{book.price}}</strong></li>
    </ul>
    <hr>
    {% endfor %}
</div>

</body>
</html>