<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if movies_list %}
    <h1>Movie List</h1>
    <table>
        <thead>
           <th>Release Date</th>
           <th>Movie Name</th>
           <th>Hero</th>
           <th>Rating</th>
        </thead>
        {% for Movie in movies_list %}
        <tr>
            <td>{{Movie.rdate}}</td>
            <td>{{Movie.moviename}}</td>
            <td>{{Movie.hero}}</td>
            <td>{{Movie.heroine}}</td>
            <td>{{Movie.rating}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>No Movies Found</h1>
    {% endif %}
</body>
</html>